---
const title = "Athenea";
import "@/styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <header
      class="flex w-full items-center justify-center px-4 pt-3 md:px-6 md:pt-4">
      <!-- TODO: Separar menu del Layout en un componente(?)
      TODO: Cambiar diseño del menú, quizás hamburguer button -->
      <nav
        class="flex w-full items-center text-xl justify-around sm:text-3xl md:text-3xl pb-10">
        <a href="/about/" class="hover:underline">Nosotros</a>
        <a href="/events/" class="hover:underline">Eventos</a>
        <div class="hidden md:block">
          <a href="/">
            <img
              src="/public/Logo.webp"
              width="80"
              alt="Logo"
              class="overflow-hidden rounded-lg object-contain object-center"
            />
          </a>
        </div>
        <a href="/contact/" class="hover:underline">Contacto</a>
        <a href="#" class="hover:underline">Donar</a>
      </nav>
    </header>
    <main class="w-full flex flex-col items-center justify-center">
      <slot />
    </main>
    <footer>
      <!-- FOOTER -->
    </footer>
  </body>
</html>
